/*-----------------------------------*\
  #main.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
	/**
   * colors
   */

	--white: hsla(0, 0%, 100%, 1);
	--white_top: hsla(0, 0%, 100%, 0);
	--white_a8: hsla(0, 0%, 100%, 0.08);
	--white_a12: hsla(0, 0%, 100%, 0.12);
	--cultured: hsla(220, 20%, 97%, 1);
	--snow: hsla(345, 57%, 97%, 1);
	--manatee: hsla(219, 10%, 62%, 1);
	--black-coral: hsla(220, 12%, 43%, 1);
	--cadet-blue-crayola_a20: hsla(222, 23%, 71%, 0.2);
	--cinnamon-satin: rgb(107, 185, 209);
	--raisin-black: hsla(216, 14%, 14%, 1);
	--raisin-black_a6: hsla(216, 14%, 14%, 0.06);
	--gunmetal: hsla(214, 15%, 21%, 1);
	--charcoal: hsla(219, 22%, 26%, 1);
	--charcoal_top: hsla(0, 0%, 100%, 1);

	/**
   * typography
   */

	--ff-manrope: 'Manrope', sans-serif;

	--fs-1: calc(2.7rem + 1.38vw);
	--fs-2: calc(2.6rem + 0.66vw);
	--fs-3: calc(2.6rem + 0.24vw);
	--fs-4: 1.9rem;
	--fs-5: 1.8rem;
	--fs-6: 1.7rem;
	--fs-7: 1.5rem;
	--fs-8: 1.4rem;

	--fw-700: 700;

	/**
   * spacing
   */

	--section-padding: 90px;

	/**
   * box shadow
   */

	--shadow-1: 0 0 20px hsla(216, 14%, 14%, 0.05);
	--shadow-2: 0 4px 28px hsla(216, 14%, 14%, 0.07);

	/**
   * border radius
   */

	--radius-circle: 50%;
	--radius-pill: 100px;
	--radius-8: 8px;
	--radius-6: 6px;

	/**
   * transition
   */

	--transition-1: 0.25s ease;
	--transition-2: 0.5s ease;
	--transition-3: 0.3s ease-in-out;
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a,
img,
span,
button,
ion-icon {
	display: block;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	height: auto;
}

input,
button,
textarea {
	background: none;
	border: none;
	font: inherit;
}

input,
textarea {
	width: 100%;
}

button {
	cursor: pointer;
}

ion-icon {
	pointer-events: none;
}

html {
	font-family: var(--ff-manrope);
	font-size: 10px;
	scroll-behavior: smooth;
}

body {
	background-color: var(--white);
	color: var(--black-coral);
	font-size: 1.6rem;
	line-height: 1.7;
	overflow: visible;
	scrollbar-width: none;
	-ms-overflow-style: none;
	-webkit-overflow-scrolling: touch;
}

body.nav-active {
	overflow: hidden;
}

::-webkit-scrollbar {
	display: none;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: hsl(0, 0%, 98%);
}

::-webkit-scrollbar-thumb {
	background-color: hsl(0, 0%, 80%);
}

::-webkit-scrollbar-thumb:hover {
	background-color: hsl(0, 0%, 70%);
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.social-list {
	display: flex;
	align-items: center;
	gap: 12px;
}

.social-link {
	font-size: 2rem;
	transition: var(--transition-1);
}

.social-link:is(:hover, :focus-visible) {
	transform: translateY(-3px);
}

.section {
	padding-block: var(--section-padding);
}

img {
	position: relative;
}

img::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.5) 100%
	);
}

.w-100 {
	width: 550px;
}

.h1,
.h2,
.h3,
.h4 {
	color: var(--charcoal);
	line-height: 1.3;
}

.h1 {
	font-size: var(--fs-1);
}

.h2 {
	font-size: var(--fs-2);
}

.h3 {
	font-size: var(--fs-3);
}

.h4 {
	font-size: var(--fs-4);
}

.btn {
	color: var(--cinnamon-satin);
	font-size: var(--fs-6);
	font-weight: var(--fw-700);
	border: 2px solid var(--cinnamon-satin);
	max-width: max-content;
	padding: 12px 28px;
	border-radius: var(--radius-pill);
	transition: var(--transition-1);
	will-change: transform;
}

.btn:is(:hover, :focus-visible) {
	transform: translateY(-4px);
}

.btn-primary,
.btn-secondary:is(:hover, :focus-visible) {
	background-color: var(--cinnamon-satin);
	color: var(--white);
}

.section-text {
	font-size: var(--fs-5);
}

.section-title {
	margin-block-end: 2rem;
}

.grid-list {
	display: grid;
	gap: 30px;
}

[data-reveal] {
	opacity: 0;
	transition: 0.75s ease;
}

[data-reveal='top'] {
	transform: translateY(-30px);
}

[data-reveal='bottom'] {
	transform: translateY(30px);
}

[data-reveal='left'] {
	transform: translateX(-30px);
}

[data-reveal='right'] {
	transform: translateX(30px);
}

[data-reveal].revealed {
	transform: translate(0);
	opacity: 1;
}

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header {
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--white_top);
	width: 100%;
	padding-block: 20px;
	z-index: 4;
}

.header.active {
	position: fixed;
	background-color: var(--white);
	animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0);
	}
}

.header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-open-btn {
	font-size: 3.5rem;
	color: var(--charcoal_top);
}

.nav-open-btn.active {
	color: var(--charcoal);
}

.navbar {
	position: fixed;
	top: 0;
	left: -300px;
	background-color: #4b98d5;
	color: var(--white);
	max-width: 300px;
	width: 100%;
	height: 100vh;
	padding: 30px;
	padding-block-end: 40px;
	display: flex;
	flex-direction: column;
	gap: 30px;
	z-index: 2;
	visibility: hidden;
	transition: var(--transition-3);
}

.navbar.active {
	visibility: visible;
	transform: translateX(300px);
}

.navbar-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-close-btn {
	background-color: var(--white_a8);
	color: var(--white);
	font-size: 2rem;
	padding: 6px;
	border-radius: var(--radius-circle);
	transition: var(--transition-1);
}

.nav-close-btn ion-icon {
	--ionicon-stroke-width: 50px;
}

.nav-close-btn:is(:hover, :focus-visible) {
	background-color: var(--white_a12);
}

.navbar-list {
	margin-block-end: auto;
}

.navbar-link {
	font-weight: var(--fw-700);
	padding-block: 6px;
}

.contact-link {
	transition: var(--transition-1);
}

.contact-link:is(:hover, :focus-visible) {
	color: var(--cinnamon-satin);
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: var(--raisin-black);
	pointer-events: none;
	opacity: 0;
	transition: var(--transition-1);
}

.overlay.active {
	pointer-events: all;
	opacity: 0.8;
}

/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero {
	padding-block-start: calc(var(--section-padding) + 50px);
	background-color: var(--cultured);
}

.hero .container {
	display: grid;
	gap: 50px;
}

.hero-banner {
	position: relative;
	max-width: max-conten;
	margin-inline: auto;
}

.hero-banner .w-100 {
	mask-image: url('../images/Blob.svg');
	-webkit-mask-image: url('../images/Blog.svg');
	mask-repeat: no-repeat;
	-webkit-mask-repeat: no-repeat;
	mask-position: center;
	-webkit-mask-position: center;
	mask-size: auto;
	-webkit-mask-size: auto;
}

.hero .shape {
	position: absolute;
	bottom: 10%;
	right: 2%;
	filter: drop-shadow(var(--shadow-2));
}

.list {
	display: grid;
	grid-template-columns: repeat(2, 1fr); /* 每行 2 列 */
	grid-auto-rows: 40px; /* 行高为 200px */
	gap: 70px; /* 图片之间的间隙为 10px */
}

.list img {
	width: 100%; /* 图片宽度为父元素宽度的 100% */
	height: 100%; /* 图片高度为父元素高度的 100% */
	object-fit: contain; /* 保持图片原始宽高比例，但完全适应父元素 */
}

.hero-content {
	text-align: center;
}

.hero .section-text {
	margin-block: 24px 36px;
}

.btn-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 12px;
}

/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}

.mission-container {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: end;
	height: 100vh;
	width: 80vw;
	margin: 0vw 10vw;
	top: 15rem;
}

.h1-text {
	animation: fadeIn 3s ease-out forwards;
	font-size: 3.2rem;
	color: var(--charcoal_top);
	font-weight: 900;
}

.h1-text-2 {
	animation: fadeIn 4s ease-out forwards;
	font-size: 3.2rem;
	color: var(--charcoal_top);
	font-weight: 900;
}

.h1-text-3 {
	animation: fadeIn 5s ease-out forwards;
	font-size: 3.2rem;
	color: var(--charcoal_top);
	font-weight: 900;
}
.p-text-gap {
	animation: fadeIn 3.5s ease-out forwards;
	font-size: 1.9rem;
	color: var(--charcoal_top);
	font-weight: 700;
	padding-bottom: 1.9rem;
}
.p-text-gap-2 {
	animation: fadeIn 4.5s ease-out forwards;
	font-size: 1.9rem;
	color: var(--charcoal_top);
	font-weight: 700;
	padding-bottom: 1.9rem;
}
.p-text-gap-3 {
	animation: fadeIn 5.5s ease-out forwards;
	font-size: 1.9rem;
	color: var(--charcoal_top);
	font-weight: 700;
	padding-bottom: 1.9rem;
}

.padding-bottom {
	padding-bottom: 1.9rem;
}

.about .wrapper {
	display: grid;
	gap: 50px;
	margin-block-end: 70px;
}

.progress-list .label-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-block-end: 4px;
}

.progress-item:not(:last-child) {
	margin-block-end: 16px;
}

.progress {
	background-color: var(--raisin-black_a6);
	height: 6px;
	width: 100%;
	border-radius: var(--radius-pill);
	overflow: hidden;
}

.progress-fill {
	height: inherit;
}

.about-card {
	text-align: center;
}

.about-card .card-icon {
	max-width: max-content;
	margin-inline: auto;
}

.about-card .card-title {
	margin-block: 16px 10px;
}

/*-----------------------------------*\
  #PROJECTS
\*-----------------------------------*/

.project {
	border-block: 1px solid var(--cadet-blue-crayola_a20);
}

.project .title-wrapper {
	margin-block-end: 40px;
}

.project .btn {
	margin-block-start: 24px;
}

.project .grid-list {
	gap: 40px;
}

.project-card {
	--padding: 24px;

	display: flex;
	flex-direction: column;
	gap: var(--padding);
	border-radius: var(--radius-8);
	overflow: hidden;
}

.project-card-1,
.project-card-2,
:is(.project-card-3, .project-card-4) .card-content {
	padding: var(--padding);
}

.project-card-1 {
	padding-block-end: 0;
}

.project :is(.project-card-3, .project-card-4) {
	gap: 0;
}

.project-card .card-tag {
	font-size: var(--fs-8);
	font-weight: var(--fw-700);
	text-transform: uppercase;
}

.project-card .card-title {
	margin-block: 10px;
}

.project-card .card-text {
	margin-block-end: 20px;
}

.project-card .btn-text {
	display: flex;
	align-items: center;
	gap: 5px;
	font-weight: var(--fw-700);
	transition: var(--transition-1);
}

.project-card .btn-text:is(:hover, :focus-visible) {
	gap: 10px;
}

/*-----------------------------------*\
  #CONTACT
\*-----------------------------------*/

.contact {
	padding-block-end: 0;
}

.contact-card {
	background-color: var(--snow);
	padding: 32px;
	border-radius: var(--radius-8);
	display: grid;
	gap: 40px;
}

.contact .section-title {
	margin-block-start: 2rem;
}

.input-field {
	background-color: var(--white);
	color: var(--black-coral);
	font-size: var(--fs-7);
	padding: 14px 18px;
	border-radius: var(--radius-6);
	outline: none;
	margin-block-end: 20px;
}

.input-field::placeholder {
	color: var(--manatee);
}

textarea.input-field {
	min-height: 120px;
	height: 120px;
	max-height: 240px;
	resize: vertical;
}

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer {
	padding-block: 40px;
}

.copyright {
	margin-block-end: 12px;
	text-align: center;
	width: 100vw;
}

.footer .social-link {
	color: var(--charcoal);
}

.navbar-link {
	color: var(--charcoal_top);
	transition: var(--transition-1);
}

.navbar-link.active {
	color: var(--charcoal);
}
/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/
@media (min-width: 390px) {
	.mission-container {
		margin: 0vw 10vw;
		top: 0rem;
	}
}

@media (min-width: 412px) {
	.mission-container {
		margin: 0vw 10vw;
		top: 5rem;
	}
}

/**
 * responsive for large than 575px screen
 */

@media (min-width: 575px) {
	/**
   * REUSED STYLE
   */

	.container {
		max-width: 540px;
		width: 100%;
		margin-inline: auto;
	}

	/**
   * PROJECT
   */

	.project-card {
		--padding: 32px;
	}

	/**
   * CONTACT
   */

	.contact-card {
		padding: 32px;
	}
}

/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {
	/**
   * REUSED STYLE
   */

	.container {
		max-width: 720px;
	}

	.section-text {
		--fs-5: 2rem;
	}

	/**
   * ABOUT
   */

	.about .grid-list {
		grid-template-columns: 1fr 1fr;
	}

	/**
   * PROJECT
   */

	.project .title-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 30px;
	}

	.project .btn {
		min-width: max-content;
	}

	/**
   * CONTACT
   */

	.contact .section-text {
		--fs-5: 1.8rem;
	}

	.input-wrapper {
		display: flex;
		align-items: center;
		gap: 20px;
	}

	/**
   * FOOTER
   */

	.footer .container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.copyright {
		margin-block-end: 0;
	}
}

/**
 * responsive for large than 992px screen
 */

@media (min-width: 992px) {
	/**
   * CUSTOM PROPERTY
   */

	:root {
		/**
     * spacing
     */

		--section-padding: 120px;
	}

	/**
   * REUSED STYLE
   */
	.navbar-link {
		font-size: 1.5rem;
	}

	.container {
		max-width: 960px;
	}

	/**
   * HEADER
   */

	.nav-open-btn,
	.navbar-top,
	.navbar .wrapper,
	.overlay {
		display: none;
	}

	.navbar,
	.navbar.active {
		all: unset;
		display: flex;
	}

	.navbar-list {
		display: flex;
		gap: 36px;
		margin-inline: auto;
	}

	.logo-header {
		font-size: 2.5rem;
		font-family: Arial, Helvetica, sans-serif;
		color: white;
		z-index: 999;
	}

	.logo-header.active {
		color: var(--charcoal);
	}

	.navbar-link:is(:hover, :focus-visible) {
		color: var(--cinnamon-satin);
	}

	.navbar .social-link {
		color: var(--charcoal);
		font-size: 1.8rem;
	}

	.header {
		top: 45px;
		max-width: 960px;
		left: 50%;
		transform: translateX(-50%);
		padding-inline: 16px;
		border-radius: var(--radius-8);
	}

	.header.active {
		top: 0;
		left: 0;
		max-width: unset;
		border-radius: 0;
	}

	.navbar-link {
		font-size: 2.5rem;
	}
	/**
   * HERO
   */

	.hero {
		padding-block-start: calc(var(--section-padding) + 80px);
	}

	.hero .container {
		grid-template-columns: 0.8fr 1fr;
		align-items: center;
		gap: 100px;
	}

	.hero-content {
		text-align: left;
	}

	.hero .btn-wrapper {
		justify-content: flex-start;
	}

	/**
   * ABOUT
   */

	.about .wrapper {
		grid-template-columns: 1fr 1fr;
		align-items: center;
	}

	.about .grid-list {
		grid-template-columns: repeat(5, 1fr);
	}

	/**
   * PROJECT
   */

	.project .grid-list {
		grid-template-columns: 1fr 1fr;
		row-gap: 50px;
	}

	/* .project .grid-list > li:nth-child(1),
	.project .grid-list > li:nth-child(2) {
		grid-column: span 1; /* 第一个和第二个块共同占两列 */
	/* } */ 

	.project .grid-list > li:nth-child(1) {
		grid-column: span 2; /* 第三个块占一列 */
	}

	/* .project .grid-list > li:nth-child(4),
	.project .grid-list > li:nth-child(5) {
		grid-column: span 1; /* 第三个块占一列 */
	/* } */

	.project-card-1,
	.project-card-2 {
		flex-direction: row;
		align-items: flex-end;
	}

	:is(.project-card-1, .project-card-2) .card-content {
		width: 50%;
	}

	:is(.project-card-1, .project-card-2) .card-banner {
		width: 50%;
	}

	.project-card-1 .card-content {
		padding-block-end: var(--padding);
	}

	.project-card-2 .card-content {
		order: 1;
	}

	/**
   * CONTACT
   */

	.contact-card {
		grid-template-columns: 0.8fr 1fr;
		align-items: center;
		gap: 90px;
	}
}

/**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {
	/**
   * REUSED STYLE
   */
	.list {
		grid-template-columns: repeat(4, 1fr); /* 每行 4 列 */
		gap: 90px;
	}

	.container,
	.header {
		max-width: 1140px;
	}

	/**
   * ABOUT
   */

	.about .grid-list {
		gap: 50px;
	}

	/**
   * CONTACT
   */

	.contact-card {
		gap: 150px;
	}

	.mission-container {
		padding: 16rem 3rem 0 0;
		top: 0;
	}
}

/**
 * responsive for large than 1400px screen
 */

@media (min-width: 1400px) {
	/**
     * REUSED STYLE
     */

	.container,
	.header {
		max-width: 1320px;
	}

	/**
     * HERO
     */

	.hero .container {
		grid-template-columns: 1fr 0.8fr;
	}

	.hero .section-text {
		--fs-5: 2.4rem;
	}

	/**
     * ABOUT
     */

	.about .wrapper {
		gap: 100px;
	}

	.about .grid-list {
		gap: 60px;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(400px);
	}

	100% {
		opacity: 1;
		transform: translateY(-55px);
	}
}

.pricing-cards {
	margin-top: 30px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

/* .card {
	
} */

/* .card img {
	width: 50%;
	object-fit: cover;
} */

.card-content {
	width: 50%;
}

.card:hover {
	transform: translateY(-10px);
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.card-title {
	font-size: 1.7em;
	margin-top: 25px;
	color: #333;
}

.translation-process-section {
	background-color: #f7f7f7;
	padding: 40px 0;
}

.process-steps {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.process-step {
	display: flex;
	align-items: center;
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.3s ease;
}

.process-step:hover {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.step-number {
	font-size: 30px;
	font-weight: bold;
	color: #007bff; /* 醒目的蓝色，您可以根据网站的主题色调整 */
	margin-right: 20px;
}

.step-content {
	flex-grow: 1;
}

.step-title {
	font-size: 20px;
	color: #000000;
	margin-bottom: 10px;
}

.step-description {
	font-size: 16px;
	color: #555;
}

/* 追加 */

/* 卡片样式 */
.card {
	display: grid; /* 使用网格布局 */
	grid-template-columns: 3fr 4fr; /* 比如1比2的比例分配图片和文字区域 */
  grid-template-rows: auto; /* 行高自动，根据内容调整 */
	align-items: center; /* 垂直居中对齐 */
	grid-template-areas:
		"photo name"
		"photo description"; /* 网格区域布局 */
	gap: 20px; /* 列之间的间隔 */
	padding: 2vw; /* 内边距 */
	width: calc(50% - 4vw); /* 宽度计算公式 */
	height: 300px; /* 高度计算公式 */
	margin: 2vw; /* 外边距 */
	background-color: #fff; /* 背景颜色 */
	border-radius: 15px; /* 边框圆角 */
	box-shadow: 0 2vw 4vw rgba(0, 0, 0, 0.08); /* 阴影效果 */
	overflow: hidden; /* 内容溢出时隐藏 */
	transition: all 0.3s ease-in-out; /* 过渡效果 */
}

.card-name {
	grid-area: name; /* 设置名称区域 */
	font-size: 1.7em;
	margin-top: 25px;
	color: #333;
	font-weight: bold;
}

.card-photo {
	grid-area: photo; /* 设置照片区域 */
	width: 100%; /* Increase the width to make the photo larger */
	height: auto;
	object-fit: cover;
	border-radius: 15px;
}

.card-description {
	font-size: 1.1em;
	color: #333;
	margin-top: 25px;
	max-height: 130px;
	overflow: auto;
}

/* 3D轮播图 */

.project-3d-carousel {
	margin: 0;
	height: 100%;
	display: grid;
	place-content: center;
}
.view {
	position: relative;
	width: 800px;
	height: 500px;
	counter-reset: num 0;
	transform-style: preserve-3d;
	perspective: 500px;
	animation: scroll 3s infinite;
}
.view:hover {
animation-play-state: paused;
}
@keyframes scroll {
to {
	transform: translateZ(0.1px);
}
}
.item {
	/* 项目样式 */
	position: absolute; /* 绝对定位 */
	width: 100%; /* 宽度为100% */
	height: 100%; /* 高度为100% */
	border-radius: 8px; /* 边框圆角为8像素 */
	display: grid; /* 使用网格布局 */
	place-content: center; /* 内容居中对齐 */
	counter-increment: num; /* 计数器递增 */
	background-color: transparent; /* 背景颜色为透明色 */
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
	color: #fff; /* 文字颜色为白色 */
	transition: 1s; /* 过渡效果持续1秒 */
	transform: translate3d(0, 0, -100px); /* 3D变换 */
	opacity: 0; /* 透明度为0 */
}
.item.current {
opacity: 1;
transform: translate3d(0, 0, 0);
}
.item.current + .item,
.item:first-child:has(~ .item.current:last-child) {
transform: translate3d(30%, 0, -100px);
opacity: 1;
}
.item:has(+ .item.current),
.item.current:first-child ~ .item:last-child {
transform: translate3d(-30%, 0, -100px);
opacity: 1;
}

.item.current + .item + .item,
.item:first-child:has(~ .item.current:nth-last-child(2)),
.item:nth-child(2):has(~ .item.current:last-child) {
transform: translate3d(50%, 0, -150px);
opacity: 1;
}
.item:has(+ .item + .item.current),
.item.current:first-child ~ .item:nth-last-child(2),
.item.current:nth-child(2) ~ .item:last-child {
transform: translate3d(-50%, 0, -150px);
opacity: 1;
}
.item::after {
content: counter(num);
font-size: 60px;
}
.item-background {
	/* 图片样式 */
	width: 800px; /* 图片宽度为100% */
	height: 500px; /* 图片高度为100% */
	object-fit: cover; /* 图片适应容器并保持纵横比 */
	object-position: center center; /* 图片在容器中居中对齐 */
	border-radius: 8px; /* 边框圆角为8像素 */
	position: absolute; /* 绝对定位 */
	overflow: hidden;
}